body {
    background: linear-gradient(45deg, #F5F5DC, #F0E68C);
}

h1, 
h2 {
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1)
}

h1 {
    background: linear-gradient(45deg, #B5C1DA, #4F6FB1);
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
    margin: 0;
}

h2 {
    background: linear-gradient(45deg, #FFF4B6, #F8E887);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    padding: 15px 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    color: #5c5b4e;
}

li {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: #53532f;
    margin-bottom: 8px;
}

p {
    font-family: Arial;
    font-size: 13px;
    color: #4e4e47;
    margin-bottom: 15px;
}

.section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.interest-hobbies, 
.my-works {
    background-color: #f3f3f3;
    padding: 20px;
    width: calc(50% - 30px);
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
}

.testimonials, 
.gallery,
.my-goals, 
.comments {
    background-color: #f3f3f3;
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
}

.testimonials p {
    text-align: center;
    font-size: 15px;
}

.journal {
    background-color: #f3f3f3;
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) 
}

.journal p {
    font-size: 15px;
    font-family: Arial;
    line-height: 140%;
}

.section-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 15px;
}

.section-gallery img {
    max-width: 80%; 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(2, 2, 2, 0.1); 
}

.message-container {
    display: flex;
    justify-content: center;
}

.message {
    display: flex;
    text-align: left;
    margin-left: 40px;
    font-family: Arial;
    color: #4e4e47;
    padding: 30px;
    background-color: #d6deff;
    padding: 20px;
    width: calc(30% - 30px);
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(45deg, #b2bff0, #c2cef2);
}

.button {
    margin-left: 135px;
    font-family: Arial;
    color: #4e4e47;
    padding: 10px;
}